// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#markdown-toc:before {
  content: "TOC";
  font-weight: bold;
}

ul#markdown-toc {
  list-style: none;
  display: inline-block;
//  float: left;
  background-color: LightGray;
  margin-right:2em;
  border-radius: 1em;
  box-shadow: 0px 1px 4px;
  -moz-box-sizing: border-box;
  padding: 10px 10px 10px 20px;
}

div.span9 {
  background-color: rgb(255,255,255);
}

p.meta {
  margin: 0px 0px;
}

h1.entry-title {
  margin-bottom: 0px;
}

header.page-header {
  border-bottom: 5px solid rgba(25, 125, 25, 0.8);
}

hr {
  border-width: 5px 0px;
  border-color: rgba(25, 125, 25, 0.8) -moz-use-text-color rgb(255, 255, 255)
}
